<style type="text/css">
body{
	width:90%;
	margin: 0 auto;
}
	
*{
	margin: 0px;
	padding:0px;
}
.main-section{
	border: 1px solid #ddd;
}
.heading{
	padding: 10px;
	border-bottom: 1px solid #ddd;
	background-color: lightgrey;
	display: flex;
	justify-content: space-between;
}
.info{
	padding: 30px;
	border-bottom: 1px solid #ddd;
}
.button{
	padding: 10px;
	border:1px solid black;
	border-radius: 3px;
}
.collaborator-section{
	margin: 10px;
	display: flex;
	justify-content: space-between;
}
.input{
	width: 90%;
	border:1px solid #ddd;
	border-radius: 3px;
}
.space{
	padding: 10px;
}

.user-photo{
	padding-right: 10px;
	width: 50px;
	height: 50px;
}

.collaborator{
	display: flex;
	padding: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
}

.collaborator-info{
	padding: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.search-text{
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.collaborator .username a{
	text-decoration: none;
	color: black;
}

</style>
{{template "nav.html" .}}
{{if .Authorized}}
<div class="main-section">
	<div class="heading">
		<span>Collaborators</span>
		<span>Push access to the repository</span>
	</div>
	{{if .IsCollaboratorsAvailable}}
		{{range .Collaborators}}
		<div class="collaborator">
			<div class="user-photo"><img class="user-photo" src="{{.UserImage}}"></div>
			<div class="username"><a href="#">{{.Username}}</a></div>
		</div>	
	{{end}}
	{{else}}
	<div class="collaborator-info">
		This repository doesn’t have any collaborators yet. Use the form below to add a collaborator.
	</div>
	{{end}}
	
	<div>
		<div class="search-text">Search by username, full name or email address</div>
		<div class="space">You’ll only be able to find a GitHub user by their email address if they’ve chosen to list it publicly. Otherwise, use their username instead.</div>
		<form method="post" action="/{{.Username}}/{{.RepoName}}/collaboration">
			<input name="repo_id" value="{{.CurrentRepo.RepoId}}" hidden></input>
			<div class="collaborator-section">
				<input class="input" name="user_name" type="username" name="username">
				<button class="button" type="submit">Add Collaborator</button>
			</div>
		</form>
	</div>
</div>
{{end}}