<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 20px;
	padding-right: 200px;
	padding-left: 200px;
}
.issues-page{
	background-color: white;
	border: 1px solid rgb(227,225,216);
	border-bottom: 0;
}

.issues-page:last-child{
	border-bottom: 1px solid rgb(227,225,216);
}

.title-division{
	padding: 8px;
	padding-left: 30px;
}

.title-division:hover{
	background-color: rgb(247,247,247);
}

.title-division h1{
	font-size: 20px;
}
.issue-number{
	padding-right: 0px;
}
.title{
	text-decoration: none;
	color: black;
}
.title:hover{
	color: blue;
}
</style>
{{range .}}
<div class="issues-page">
	<div class="title-division">
		<h1> <a class="title" href="/issues/{{.ID}}">{{ .Title }}</a></h1>
		<div >
			<span class="issue-number">#{{.IssueNumber}} opened yesterday by </span>
			<span><a class="title" href="">{{.Username}}</a></span>
		</div>
	</div>
</div>

{{end}}