<style type="text/css">
	
*{
	margin: 0;
	padding: 0;
}

.main-section{
	padding-left: 250px;
	padding-right: 200px;
	min-width: 500px
	margin: 0 auto;
}
.title-page{
	display: flex;
	justify-content: space-between;
}
.title-divison{
	display: flex;
}
.title{
	font-size: 40px;
}
.issue-number{
	font-size: 40px;
	padding-left: 10px;
	color: #a3aab1;
}
.edit-button-divison{
	padding-top: 15px;
}
.edit-button,.new-issue-button {
	padding: 8px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-weight: bold;
}
.edit-button{
	background-color:  #f1f5f7;
	border: 2px solid #bbb;
}
.edit-button:hover{
	background: #ddd;
}
.new-issue-button{
	background-color: #53b049;
	color: white;
	border: 2px solid hsla(114, 41%, 37%, 1)
}
.subsection-title{
	padding-top: 15px;
	padding-bottom:20px;
	padding-right: 15px;
	border-bottom: 1px solid #DDD;
	display: flex;
	align-items: baseline;
}
.status-open{
	background-color: #62ce58;
	padding: 5px 10px;
	font-weight: bold;
	border-radius: 3px;
	color: white;
}
.status-closed{
	background-color:red;
	padding: 5px 10px;
	/*padding-right: 0px;*/
			/*	width: 50px;
			*/	font-weight: bold;
	border-radius: 3px;
	color: white;
}
.issue-info{
	padding-left: 10px;
	color: #586069;
}
.issue-info a {
	text-decoration: none;
}
.issue-info .user-name {
	color: #333;
	font-weight: bold;
}
.issue-section,
.comment-section,
.write-section {
	display: flex;
	margin-top: 20px;
}
.user-photo{
	padding-right: 10px;
	width: 50px;
	height: 50px;
}
.user-photo img {
	border-radius: 3px;
}
.issue-section .content,
.comment-section .content,
.write-section .content {
	min-height: 90px;
	width: 600px;
	border: 1px solid #DDD;
	/*margin: 0 auto;*/
	border-radius: 3px;
}

.issue-section .header,
.comment-section .header,
.write-section .header {
	padding: 15px;
	background-color: rgb(247,247,247);
	border-bottom: 1px solid #dddd;
}
.write-section .header{
	padding-bottom: 0px;
}
.issue-section .info,
.comment-section .info{
	color:#586069;
}
.issue-section .info a,
.comment-section .info a{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.issue-section .body,
.comment-section .body{
	padding: 10px;
}
.issue-section .empty-body{
	color: #ccc;
	font-style: italic;
}
.write-content{
	min-height: 200px;
	width: 600px;
	border: 1px solid #DDD;
		border-radius: 3px;
}
.write-comment{
	margin: 10px;
	border: 1px solid #ddd;
	min-height: 100px;
	width: 95%;
	border-radius: 3px;
	background-color: #fafbfc;
}
.write-comment:focus{
	/*outline: 3px solid #2188ff;*/
	outline: none;
	box-shadow: 0 0 0 0.1em rgba(3,102,214,.3);
	border-color: #2188ff;
	background-color: #fff;
}
.comment-buttons{
	display: flex;
	justify-content: flex-end;
}
.write-section .header button{
	padding:8px 12px;
	background-color: #d1d5da;
	border: 2px solid #d1d5da;
	border-bottom: 0px;
		border-radius: 4px;
}
.preview{
	margin-left: 10px;
}
.comment-buttons .comment{
	background-color: #28a745;
	padding: 10px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.comment-buttons .close{
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc,#eff3f6 90%);
	color: #24292e;
	padding:10px;
	border-radius: 3px;
	margin-right: 10px;
	border: 2px solid #ccc;
}
.pinned-section{
	display: flex;
}
.pinned-button{
	padding: 20px;
	padding-left: 40px;
}
.pinned-button button{
	padding: 5px;
	font-weight: bold;
}
.pinned-button button:focus{
	outline: 0;
	color: black;
}
.participants{
	margin-left: 40px;
	padding-left: 40px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding-bottom: 10px;
}
.number-participants{
	padding: 10px;
}
.participants-photo{
	display: flex;
	flex-wrap: wrap;
}

.write-section .content {
	position: relative;
}


.write-section .locked {
	position: absolute;
	width: 100%;
	top: 0;
	height: 200px;
	background: rgba(0,0,0, 0.1);

	display: flex;
	justify-content: center;
	align-content: center;

}

</style>

{{template "nav.html" .}}

<div class="main-section">
	{{with .Issue }}
	<div class="title-page">
		<div class="title-divison">
			<div class="title">{{.Title }}</div>
			<div class="issue-number">#{{.IssueNumber}}</div>
		</div>
		{{if $.Authorized}}
		<div class="edit-button-divison">
			<button class="edit-button">Edit</button>
			<a href="/{{$.UserName}}/{{$.RepoName}}/issues/new"><button class="new-issue-button">New issue</button></a>
		</div>
		{{end}}
	</div>
	<div class="subsection-title">
		{{if eq .Status "Open"}}
		<span class="status-open">{{.Status}}</span>
		{{else}}
		<span class="status-closed">{{.Status}}</span>
		{{end}}
		<span class="issue-info"><a href="" class="user-name">{{.Username}}</a> opened this issue on 15 Dec 2018 · 1 comment</span>
	</div>
	<div class="pinned-section">
		<div class="issue-section">
			<div class="user-photo"><img class="user-photo" src="{{.Image}}"></div>
			<div class="content">
				<div class="header">
					<span class="info"><a href="" >{{.Username}}</a> commented on 15 Dec 2018</span>
				</div>
				{{ if .Body}}
				<div class="body">{{ .Body }}</div>
				{{else}}
				<div class="body empty-body">No description provided</div>
				{{end}}
			</div>
		</div>
		<div>
			{{if $.Authorized}}
			{{if $.RepoOwner}}
			<div class="pinned-button">
				{{if eq .Pinned "No"}}
				<form method="post" action="/{{$.UserName}}/{{$.RepoName}}/issues/{{.IssueNumber}}/pin">
					<input name="issue_id" value="{{.ID}}" hidden></input>
					<input name="issue_number" value="{{.IssueNumber}}" hidden></input>
					<input name="repo_id" value="{{.RepoId}}" hidden></input>
					{{if lt $.PinnedIssuesCount 3}}
					<button type="submit" > pin issue </button>
					{{end}}
				</form>
				{{end}}
				{{if eq .Pinned "Yes"}}
				<form method="post" action="/{{$.UserName}}/{{$.RepoName}}/issues/{{.IssueNumber}}/unpin">
					<input name="issue_id" value="{{.ID}}" hidden></input>
					<input name="issue_number" value="{{.IssueNumber}}" hidden></input>
					<button type="submit"> unpin issue </button>
				</form>
				{{end}}
			</div>
			{{end}}
			{{end}}
			<div class="participants"> 
				<div class="number-participants">{{$.NumberOfCommented}} participant</div>
				<div class="participants-photo">
				{{range $.CommentedUsers}}
					<div class="user-photo"><img class="user-photo" src="{{.}}"></div>
				{{end}}
				</div>
			</div>
			<div>
				{{if eq .Lock "No"}}
				<form method="post" action="/{{$.UserName}}/{{$.RepoName}}/issues/{{.IssueNumber}}/lock">
					<input name="issue_id" value="{{.ID}}" hidden></input>
					<button type="submit">Lock conversion</button>
				</form>
				{{end}}
				{{if eq .Lock "Yes"}}
				<form method="post" action="/{{$.UserName}}/{{$.RepoName}}/issues/{{.IssueNumber}}/unlock">
					<input name="issue_id" value="{{.ID}}" hidden></input>
					<button type="submit">Unlock conversion</button>
				</form>
				{{end}}
			</div>
		</div>
	{{end}}
	</div>
	{{range .Comments}}
	<div class="comment-section">
		<div class="user-photo"><img class="user-photo" src="{{.Image}}"></div>
		<div class="content">
			<div class="header">
				<span class="info"><a href="" >{{.Username}}</a> commented on 15 Dec 2018</span>
			</div>
			<div class="body">{{.Body}}</div>
		</div>
	</div>
	{{end}}
	{{if .Authorized }}
	<div class="write-section">
		<div class="user-photo"><img class="user-photo" src="{{.CurrentUser.Image}}"></div>
		<div class="content">
			<form method="POST" action="/{{.UserName}}/{{.RepoName}}/comments">
				<input name="issue_id" value="{{.Issue.ID}}" hidden></input>
				<input name="repo_id" value="{{.Issue.RepoId}}" hidden></input>
				<input name="user_id" value="{{.CurrentUser.ID}}" hidden></input>
				<input name="issue_number" value="{{.Issue.IssueNumber}}" hidden></input>
				<div class="header">
					<button type="button">Write</button>
					<button class="preview" type="button">Preview</button>
				</div>
				<textarea name="body" class="write-comment" placeholder="Leave a comment"></textarea>
				<div class="comment-buttons">
					{{if eq .Issue.Status "Open"}}
					<button class="close" name="comment_and_close" value="1" type="submit">Close issue</button>
					{{else}}
					<button class="close" name="comment_and_open" value="1" type="submit">Reopen issue</button>
					{{end}}
					<button class="comment" type="submit">Comment</button>
				</div>
			</form>
			{{if .Locked}} 
				<div class="locked">
					<div>
					Locked
					</div>
				</div> 	
			{{end}}
		</div>
	</div>
	{{end}}
</div>