<style type="text/css">
	body{
		font-family: sans-serif;
	}
	.navigation{
		display: flex;
		justify-content: flex-end;
		background-color: black;
		height: 64px;
	}

	.signin{
		padding: 5px;
	}
	.signout-button{
		padding: 5px;
		border-radius: 3px;
		border: none;
	}
	.notifications-button a{
		background-color: black;	
		color: white;
		text-decoration: none;
	}
	.user-image{
		width: 20px;
		height: 20px;
		border-radius: 3px;
	}
	.user-name{
		padding: 5px;
		color: white;
		font-weight: bold;
		border-radius: 3px;
	}
	.user{
		display: flex;
		align-items: center;
	}


</style>

<nav class="navigation">
	{{if .Authorized}}
		<span class="user">
			<img class="user-image" src="{{.CurrentUser.Image}}">
			<span class="user-name">{{.CurrentUser.Username}}</span>
			<span class="notifications-button"><a href="/notifications">Notifications</a></span>
			<form action="/Signout" method="post">
				<div class="signin">
					<button class="signout-button"  type="submit">Signout</button>
				</div>
			</form>
		</span>	
	{{else}}
	<div class="signin">
		<a  href="/login" >Signin</a>
	</div>
	{{end}}
</nav>