<style>

*{
	padding: 0px;
	margin: 0px;
}

.notifications{
	border: 1px solid black;
	border-bottom: 0px;
	max-width: 900px;
	margin: 0 auto;
	background-color: #f6f8fa;

}
.title{
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div:last child{
}
.heading{
	text-align: center;
	padding: 10px;
}

.read-button{
	border:0px;
	background: #f6f8fa;	
}
.repoId{
	padding: 10px;
	font-weight: bold;
}
.notification{
	display: flex;
	justify-content: space-between;
}
</style>

{{template "nav.html" .}}
<div class="body">
	<h2 class="heading">Notifications</h2>
		{{range  $repoName,$value := .NotificationRequired}} 
		<div>
			<div class="notifications">
				<div class="repoId">{{$repoName}}</div>
				<div class="title">
					<div>
					{{range $value}}
						<div class="notification">
						{{.Title}}
						<form method="post" action="/notifications">
							<input name="issue_id" value="{{.IssueId}}" hidden>
							<input  name="read" value="{{.Read}}" hidden>
							<button type="submit" class="read-button">{{.Read}}</button>
						</form>
						</div>
					{{end}}
					</div>
				</div>
			</div>
		</div>
		{{end}}
</div>