<style type="text/css">
	
body{
	width: 300px;
	margin: 0 auto;
	padding-top: 100px;
	background-color: #fafbfc;
}
.signin-text{
	font-weight: bold;
	font-size: 30px;
	padding-bottom: 10px;
	text-align: center;
}
.signin-details{
	border: 1px solid #ddd;
	padding: 10px;
	min-height: 200px;
}
.username-section input,.password-section input{
	width: 100%;
	height: 30px;
	border-radius: 3px;
	border :solid #ccc;
}
.username-section{
	margin-top: 20px;
}
.password-section{
	margin-top: 15px;
	padding: 20px 0px;
}
.user-details{
	padding-bottom: 15px
}
.signin-button{
	padding: 20px;
	background-color: #28a745;
	border-radius: 3px;
	border: 2px solid #ddd;
	color: white;
	font-weight: bold;
	width: 100%;
}
input:focus{
	background-color: #fff;
	outline: none;
	box-shadow: 0 0 0 0.1em rgba(3,102,214,.3);
	border-color: #2188ff;
}
.password-text{
	padding-bottom: 15px;
}
</style>
<div class="">
	<form method="POST" action="/user/sign-in">
		<div class="signin-text">Sign in to GitHub</div>
		<div class="signin-details">
			<div class="username-section">
				<div class="user-details"><b>Username or email address</b></div>
				<input type="text" name="username" required="">
			</div>
			<div  class="password-section">
				<div class="password-text"><b>Password</b></div>
				<input type="password" name="password" required="">
			</div class="signin-section" >
			<button class="signin-button" type="submit" >Sign in</button>
		</div>
	</form>
</div>